html,
body {
    font-family: Arial, sans-serif;
}

 @media screen and (max-width: 420px) {
     .modal img {
         max-width: 170px;
         max-height: 170px;
     }
 }

 @media screen and (max-width: 370px) {
     .modal img {
         max-width: 110px;
         max-height: 110px;
     }
    }