* {
    box-sizing: border-box;
}

body {
    background-color: white;
    background-image: url("../img/background.jpeg");
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    min-height: 100vh;
    text-align: center;
    margin-top: 35px;
}

.navbar {
    background-color: darkblue;
}

.container {
    margin-top: 100px;
}

.list-group-item {
    background-color: white;
}

/* button-class styling */
.button-class {
    background-color: #FBCA3C;
    color: #000;
    padding: 16px 32px;
    font-weight: 700;
    /* transition */
    transition: transform 0.3s;
    transition-timing-function: ease-in-out;
}

.button-class:hover,
.button-class:focus {
    cursor: pointer;
    transform: scale(1.1);
}

.button-class:active,
.button-class:active {
    background-color: #fff;
    border: 5px solid #FBCA3C;
    color: #000;
    /* transition */
        transition: transform 0.3s;
        transition-timing-function: ease-in-out;
    }

/* Modal styling */
.modal {
    color: #000;
}

.modal-dialog {
    margin-top: 15%;
}

.modal-img {
    padding: 20px;
    margin-bottom: 20px;
    margin-top: -20px;
    width: 50%;
}

.page-container {
    margin-top: 500 px;
}

 @media screen and (max-width: 420px) {
     .modal img {
         max-width: 170px;
         max-height: 170px;
     }
 }

 @media screen and (max-width: 370px) {
     .modal img {
         max-width: 110px;
         max-height: 110px;
     }
    }